<div>
  <div>
    <h1>
      Recipe diary
    </h1>
  </div>
</div>

<hr>



<hr>

<div>
  <div>
    <h2>
      Add a new recipe
    </h2>

    <form action="/insert_recipe" method="post">
      <div>
        <label for="recipe_name">
          Recipe Name
        </label>
        <input type="text" id="recipe_name" name="recipe_name">
      </div>

      <div>
        <label for="category">
          Category
        </label>
        <input type="text" id="category" name="category">
      </div>

      <div>
        <label for="calories">
          Calories
        </label>
        <input type="text" id="calories" name="calories">
      </div>

      <button>
        Add Recipe
      </button>
    </form>
  </div>
</div>

<hr>

<ul>
  <% @list_of_recipes.each do |a_recipe| %>
    <li>
      <a href="/recipes/<%= a_recipe.id %>">
        <%= a_recipe.recipe_name %>
      </a>
    </li>
  <% end %>
</ul>
